<%- include("partials/_header") %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu") %>
      <!-- end header inner -->
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2>About FotoFlow</h2>
                <p>Welcome to FotoFlow, a platform where photography enthusiasts from around the world come together to share their passion for visual storytelling. At FotoFlow, users can upload their favorite photos, follow other photographers, and engage with a vibrant community of creatives. Whether you're capturing landscapes, portraits, or street moments, FotoFlow is your space to explore, inspire, and be inspired. Join us and let your creativity flow!</p>
                <a class="read_more" href="/photos">let's look at the photos</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/about_img.png" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- end footer -->
      <%- include("partials/_footer") %>